body {
  background-color: black;
  overflow: hidden;
}

* {
  overflow: hidden;
}

.dn {
  display: none !important;
}

.start-game {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1 !important;
}

.game {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 2;
}

.newspaper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2 !important;
}

.newspaper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clock-show {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
  width: 100vw;
  height: 100vh;
  scale: 1.3;
  background-image: url('../assets/dark-stc.png');
  background-position: center;
  background-size: cover;
}



#openDoorLeft {
}